:root
{
  --header: #CF2B2B;
   --body: #EEF9BF;
  --bg-card-back: #A7E9AF;
  
  --green: #75B79E;
  --white: #FFFFFF;

  --roboto: "Roboto";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
  }

  body{
    height: 100vh;
    display: flex;
    background-color: var(--body);
  }

  body.dark {
    --body: rgb(68, 87, 96);
  
    --bg-card-back:  #A6A6A6;
    --green: #ff3385;
  }

  section{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
  }

  section h1{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: var(--green);
    margin-bottom: 47px;
    justify-self: center;
  }

  section ul {
    margin: 0 auto !important;
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }

  .card {
          width: 117px;
          height: 146px;
          position: relative;
      }

      .face {
            width: 100%;
            height: 100%;
            border: 1px solid #99CEA8;
            border-radius: 5px;
            flex-shrink: 0;
            padding: 24px 7px 22px 10px;
            box-shadow: 1px 1px 1px rgba(0,0,0,.3);
            position: absolute;
            backface-visibility: hidden;
            transition: all .5s;
            transform-style: preserve-3d;
      }

      .card .back-face {
        background-image: linear-gradient(50deg, #000000 30.43%, #c20092 30.43%, #c20092 50%, #000000 50%, #000000 80.43%, #c20092 80.43%, #c20092 100%);
        background-size: 30.02px 35.78px;
        transform: rotateY(180deg);
      }

      .card .front-face {
        background: var(--bg-card-back);
        
      }

      .card .front-face img{
        width: 100px;
        height: 100px;
      }

      .card .back-face img{
        width: 80px;
        height: 80px;
      }

      .card.selected .back-face {
        transform: rotateY(0deg);
      }

      .card.selected .front-face {
        transform: rotateY(-180deg);
      }


  .roboto {
    font-family: var(--roboto), sans-serif;
  }
  
  
  .white {
    color: var(--white);
  }
  
  .gray {
    color: var(--gray);
  }
  
  .light-black {
    color: var(--light-black);
  }
  
 
  .switches
  {
    position: fixed;
    bottom: 25px;
    left: 25px;
  }

  .switches ion-icon {
    font-size: 30px;
    margin: auto auto;
    cursor: pointer;
    color: var(--green);
  }

  
  .switches > .dark-switch.hidden {
    display: none;
  }
  
  .switches > .light-switch.hidden {
    display: none;
  }
 
  

  
  