:root {
  --header: #cf2b2b;
  --body: #eef9bf;
  --bg-card-back: #a7e9af;

  --green: #75b79e;
  --white: #ffffff;

  --roboto: "Roboto";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  background-color: var(--body);
}

body.dark {
  --body: rgb(68, 87, 96);

  --bg-card-back: #a6a6a6;
  --green: #ff3385;
}

.pair-of-2 {
  width: 268px;
}

.pair-of-3 {
  width: 419px;
}

.pair-of-4 {
  width: 570px;
}

.pair-of-5 {
  width: 721px;
}

.pair-of-6 {
  width: 872px;
}

.pair-of-7 {
  width: 1023px;
}

section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

section h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  color: var(--green);
  margin-bottom: 47px;
  justify-self: center;
}

section ul {
  margin: 0 auto !important;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
}

.face {
  width: 100%;
  height: 100%;
  border: 1px solid var(--bg-card-back);
  border-radius: 5px;
  flex-shrink: 0;
  padding: 24px 7px 22px 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.card .back-face {
  background-image: linear-gradient(
    50deg,
    #000000 30.43%,
    #c20092 30.43%,
    #c20092 50%,
    #000000 50%,
    #000000 80.43%,
    #c20092 80.43%,
    #c20092 100%
  );
  background-size: 30.02px 35.78px;
  transform: rotateY(180deg);
}

li.card.selected.completed > .back-face {
  background-image: linear-gradient(
    50deg,
    #000000 30.43%,
    #1998ff 30.43%,
    #1998ff 50%,
    #000000 50%,
    #000000 80.43%,
    #1998ff 80.43%,
    #1998ff 100%
  );
  background-size: 30.02px 35.78px;
}

.card .front-face {
  background: var(--bg-card-back);
}

.card .front-face img {
  width: 100px;
  height: 100px;
}

.card .back-face img {
  width: 80px;
  height: 80px;
}

.card.selected .back-face {
  transform: rotateY(0deg);
}

.card.selected .front-face {
  transform: rotateY(-180deg);
}

.roboto {
  font-family: var(--roboto), sans-serif;
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.light-black {
  color: var(--light-black);
}

.clock {
  position: fixed;
  right: 50px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid var(--green);
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 17px;
  color: var(--green);
}

.switches {
  position: fixed;
  bottom: 25px;
  left: 25px;
}

.switches ion-icon {
  font-size: 30px;
  margin: auto auto;
  cursor: pointer;
  color: var(--green);
}

.switches > .dark-switch.hidden {
  display: none;
}

.switches > .light-switch.hidden {
  display: none;
}

.rainbow {
  animation: rainbowColor 1s linear 0s infinite;
}

@keyframes rainbowColor {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #ff7c01;
  }
}


@media (max-width: 480px) {
  body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
  }

  section {
    width: 300px !important;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  section h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.4%;
  }

  section ul {
    width: 117px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;
  }

  .circle {
    position: fixed;
    right: 10%;
    top: 10%;
    height: 5rem;
    width: 5rem;
  }

  .time {
    font-size: 1rem;
  }

  .pair-of-2 {
    width: 100%;
  }

  .pair-of-3 {
    width: 100%;
  }

  .pair-of-4 {
    width: 100%;
  }

  .pair-of-5 {
    width: 100%;
  }

  .pair-of-6 {
    width: 100%;
  }

  .pair-of-7 {
    width: 100%;
  }
}
